# 환경 변수 파일 제외
.env

#용량 큰 pkl 파일 제외 (google drive에서 다운)
*.pkl

# 로컬 테스트 파일 제외
test_api.py
data_processing.py

# Python 캐시 파일 및 폴더 제외
__pycache__/
*.pyc

# 가상 환경 폴더 제외
venv/
env/

# IDE 설정 파일 제외 (VS Code 기준)
.vscode/

# 로그 파일 및 결과 파일 제외
*.log
*.out

# 기타 불필요한 파일
.DS_Store
*.csv
*.xlsx